In [16]:
import pandas as pd

In [17]:
df = pd.read_clipboard()
df

        美元(USD)  27.6700  27.7900  27.7000  27.7600  27.3900  28.0100
0       歐元(EUR)  31.0700  31.5700  31.1300  31.5100  30.6400  31.9200
1       日圓(JPY)   0.2418   0.2468   0.2428   0.2458   0.2378   0.2488
2      人民幣(CNY)   4.3130   4.3880   4.3230   4.3780   4.2130   4.4080
3       港幣(HKD)   3.5160   3.5960   3.5260   3.5860   3.4360   3.6360
4    澳大利亞幣(AUD)  19.7600  20.0600  19.7900  20.0300       --       --
5     紐西蘭幣(NZD)  18.6800  19.0400  18.7000  19.0200       --       --
6      南非幣(ZAR)   1.6810   1.8010   1.6860   1.7960       --       --
7     加拿大幣(CAD)  21.6500  22.0500  21.6800  22.0200       --       --
8       英鎊(GBP)  36.3800  37.0000  36.4400  36.9400       --       --
9     瑞士法郎(CHF)  29.7800  30.3000  29.8100  30.2700       --       --
10     瑞典幣(SEK)   2.9770   3.1370   2.9870   3.1270       --       --
11    新加坡幣(SGD)  20.1400  20.5400  20.1700  20.5100       --       --
12     泰國幣(THB)   0.7970   0.8570   0.8000   0.8540       --       --
13     丹麥幣(DKK)   4.1300   4.2900   4.1400   4.2800       --       --
14   土耳其里拉(TRY)   1.6370   2.3570   1.6670   2.3270       --       --

In [18]:
df.to_csv('cathaybk.csv')